body {
  font-family: Poppins, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

nav {
  height: 3vh;
  display: flex;
  justify-content: end;
  align-items: center;
}

nav > button {
  margin-right: 20px;
  margin-top: 20px;
}

.title {
  width: fit-content;
  margin: auto;
  margin-top: 3vh;
}

.title > h1 {
  font-size: 40px;
  font-weight: 600;
  color: #000;
  margin-top: 0;
  margin-bottom: 10px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.icon-btn {
  cursor: pointer;
  transition: ease-in 0.07s;
  &:hover {
    scale: 1.1;
    transition: ease-in 0.07s;
  }
}

.game-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.config-container {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border: #000 2px solid;
  border-radius: 20px;
  text-align: center;
}

.game-modes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  margin-bottom: 30px;
  color: black;
}

.passive-mode {
  cursor: pointer;
  color: rgb(92, 92, 92);
  transition: ease-in-out 0.07s;
  &:hover {
    color: black;
    scale: 1.05;
    transition: ease-in-out 0.07s;
  }
}

h3 {
  margin: 0;
}

#multiplayer-view {
  display: none;
}

input {
  padding: 5px;
  border-radius: 7px;
  border: 1px solid #000;
  margin-left: 10px;
  &:focus {
    outline: 1px solid #000;
  }
}

.input-group {
  text-align: justify;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  & > label {
    width: 40%;
  }
  & > input {
    width: 60%;
  }
}

.radio-group {
  text-align: justify;
  margin-top: 20px;
  width: 100%;
  & #difficulty-radio {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    & input {
      &:focus {
        outline: none;
      }
    }
  }

  & #player-radio {
    margin-top: 10px;
    & input {
      &:focus {
        outline: none;
      }
    }
  }
}

.actions {
  width: 100%;
}

.start-btn {
  margin-top: 20px;
  border: none;
  background-color: #000;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: ease-in-out 0.07s;

  &:hover {
    background-color: #333;
    scale: 1.05;
    transition: ease-in-out 0.07s;
  }
}

#login-view {
  display: none;
}

#login-form {
  display: none;
}

#register-form {
  display: none;
}

.basic-btn {
  border: none;
  background-color: #727272;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: ease-in-out 0.07s;

  &:hover {
    background-color: #565656;
    scale: 1.05;
    transition: ease-in-out 0.07s;
  }
}

.submit-btn {
  margin-top: 20px;
  border: none;
  background-color: #000;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: ease-in-out 0.07s;

  &:hover {
    background-color: #333;
    scale: 1.05;
    transition: ease-in-out 0.07s;
  }
}
